body {
    font-family: 'Cutive Mono', monospace;
    color: #252525;
    background-color: #f5f5f5;
    margin: 0;
    margin-right: 2rem;
}

.navbar {
    height: 8vh;
    width: 100vw;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: #252525;
    text-align: center;
    float: right;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.navbar a:hover {
    color: #525252;
}

.navbar a.active {
    color: #adadad;

}

.cart-icon {
    color: #252525;
    float: right;
    margin: 1rem;
    margin-right: 2rem;
    align-items: center;
}

.navbar h2 {
    text-decoration: none;
    color: #252525;
    text-align: center;
    float: left;
    margin: 1rem;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 900;
}

.linea-div {
    background-color: #adadad;
    width: 100vw;
    height: 0.1rem;
}

* img {
    width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.listProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    text-align: center;
    margin-right: 3rem;
}

.listProducts .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listProducts input {
    font-size: 1.5rem;
    font-family: 'Cutive Mono', monospace;
    height: 2.8rem;
    width: 30rem;
    color: #525252;
    background-color: #f5f5f5;
    padding: 12px 20px 12px 40px;
    border: 0.1rem solid #adadad;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.listProducts ul {
    width: 100%;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .listProducts ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.listProducts ul li {
    flex: 0 0 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 3rem;
    padding: 2.5rem;
    margin-bottom: 5rem;
    box-shadow: 2px 0px 17px 2px rgba(39, 39, 39, 0.2);
    position: relative;
}

.listProducts ul li div {
    width: 14rem;
    height: auto;
}

.listProducts span:first-of-type {
    color: #252525;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.9rem;
}

.listProducts span:last-of-type {
    color: #252525;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0;
}

.listProducts button {
    background: #252525;
    color: #adadad;
    text-transform: uppercase;
    padding: 0.8rem 4rem;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Cutive Mono', monospace;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.listProducts button:hover {
    background-color: #adadad;
    color: #252525;
    font-weight: 600;
}


.cartList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    width: 100vw;
    text-align: center;
    background: #ebebeb;
    position: relative;
}

.cartList #totalItems {
    position: absolute;
    top: 0;
    background: #00c3ff;
    color: #ffae00;
}

.cartList .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartList h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #2b2b2b;
}

@media (max-width: 1200px) {
    .cartList h2 {
        font-size: 10vw;
    }
}

.cartList p {
    font-size: 1.5rem;
    color: #ff0a68;
    margin: 1.5rem 0 2rem 0;
}

@media (max-width: 1200px) {
    .cartList p {
        font-size: 7vw;
    }
}

.cartList .cart-wrapper {
    width: 70%;
    background-image: url(/IMG/MARMOL-home.jpg);
    padding: 2rem;
    border-radius: 1rem;
    color: #adadad;
}

@media (max-width: 1200px) {
    .cartList .cart-wrapper {
        width: 90%;
    }
}

.cartList .cart-wrapper .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.cartList .cart-wrapper .cart-item span {
    font-size: 1.6rem;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .cartList .cart-wrapper .cart-item span {
        font-size: 0.8rem;
    }
}

.cartList .cart-wrapper .cart-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
}

.cartList .cart-wrapper .cart-item-content span {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 1rem;
}

.cartList .cart-wrapper .item-img {
    width: 50px;
}

.cartList .cart-wrapper .total-items {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    border-top: 1px solid yellow;
    margin-top: 2rem;
    padding-top: 1rem;
}

.cartList .cart-wrapper .total-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.total-items {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    border-top: 1px solid #adadad;
    margin-top: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.btn-cart {
    margin: 2rem;
    background: #252525;
    color: #adadad;
    text-transform: uppercase;
    padding: 0.8rem 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Cutive Mono', monospace;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-cart:hover {
    background-color: #adadad;
    color: #252525;
    font-weight: 600;
}

.total-price {
    text-decoration: none;
    color: #464646;
    text-align: center;
    float: left;
    margin: 1rem;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 900;
}

.emptyProductsMessage {
    font-weight: 700;
    font-size: 1.6rem;
}